.nav-link {
    color: #9D9EA1;
}

 .nav-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color:red !important;
}

.nav-link:hover {
    color: #ED645F;
}

.navbar-brand {
    color: #5EB9DA;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size:34px;
}

.navbar-brand:hover {
    color: #ED645F;
}

.hamburger {
background-color: grey;
}
