.nav-link {
    color: #9D9EA1;
}

 .nav-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    float: left;
}

.nav-link:hover {
    color: #ED645F;
}

.navbar-light .navbar-brand {
    color: #5EB9DA;
}


.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size:45px;
}

/* .navbar-brand:hover {
    color: #ED645F;
} */

.hamburger {
background-color: grey;
}
