.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.btn-primary{
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .5px;
    font-size: 17px;
    border:0;
    border-radius: 2;
    color: white;
    background-color: #ED645F;
    border-radius: 2px;
    border-color: white;

}

.btn-primary:hover {
    background-color: #8CCEE4;

}
#submitButton {
    color: white;
}

#database-button {
    color: white;
}

.btn-link:hover {
    color: white;
}

.card-body {
    font-family: 'Open Sans', sans-serif;
    color: #3B3C40;
}
.btn {
    color: #3B3C40;

}
.card-header {
    background-color: #8CCEE4;
}
