.card {
    color: white;
    background-color: #3B3C40;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    border-color: white;

}

.card-body {
    background-color: #5EB9DA !important;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .25px;

}

.btn {
    color: white;
}
