.card {
    color: white;
    background-color: #3B3C40;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    border-color: white;
    max-width: 320px;
    min-width: 320px;

}

.card-body {
    background-color: #5EB9DA !important;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .25px;
    height: auto;
}

.btn {
    color: white;
}

#accordion-container {
    width: 100%;
}

#button-text {
    white-space: normal;
}
 #card-body-styling {
     height: auto;
 }
